---
permalink: "/"
layout: "base.njk"
title: "Главная страница Russian box"
---
{# 
{% import "forms.njk" as forms %}
{% import "sprite.njk" as sprite %}
{% import "image.njk" as image %}
{% import "carousel.njk" as carousel %}
{% import "navigation.njk" as nav %}
{% import "card.njk" as card %}
 #}

{% import "sprite.njk" as sprite %}
{% include "first-screen.njk" %}
{% include "benefits.njk" %}
{% include "discounts.njk" %}
{% include "brands.njk" %}
{% include "catalog.njk" %}
{% include "certs.njk" %}
