@font-face {
  font-weight: 400;
  font-family: Gilroy;
  font-style: normal;
  src: url('../fonts/Gilroy/Gilroy-Regular.eot');
  src:
    url('../fonts/Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: 'Gilroy Medium';
  font-style: normal;
  src: url('../fonts/Gilroy/Gilroy-Medium.eot');
  src:
    url('../fonts/Gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: 'Gilroy Bold';
  font-style: normal;
  src: url('../fonts/Gilroy/Gilroy-Bold.eot');
  src:
    local('Gilroy Bold'),
    local('Gilroy-Bold'),
    url('../fonts/Gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: 'Avenir Next Cyr';
  font-style: normal;
  src: url('../fonts/AvenirNextCyr/AvenirNextCyr-Medium.eot');
  src:
    url('../fonts/AvenirNextCyr/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextCyr/AvenirNextCyr-Medium.woff') format('woff'),
    url('../fonts/AvenirNextCyr/AvenirNextCyr-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: 'Avenir Next Cyr';
  font-style: normal;
  src: url('../fonts/AvenirNextCyr/AvenirNextCyr-Bold.eot');
  src:
    url('../fonts/AvenirNextCyr/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextCyr/AvenirNextCyr-Bold.woff') format('woff'),
    url('../fonts/AvenirNextCyr/AvenirNextCyr-Bold.ttf') format('truetype');
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  // overflow: auto;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #000;
  font-size: 16px;
  font-family: 'Avenir Next Cyr', sans-serif;
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 16px;

  &:focus {
    outline: none;
  }
}

.section {
  width: 100%;
  color: #fff;

  &__title {
    margin-bottom: 15px;
    color: #000;
  }

  &__text {
    margin-bottom: 15px;
    line-height: 1.6;
    text-align: left;
    hyphens: auto;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media (width >= 768px) {
    width: 720px;
  }

  @media (width >= 992px) {
    width: 960px;
  }

  @media (width >= 1200px) {
    width: 1140px;
  }

  @media (width >= 1400px) {
    width: 1320px;
    padding: 0 20px;
  }
}

.content {
  position: static;

  &_active {
    transform: translateX(0);
  }
}
