<section class="brands">
    <div class="brands__wrp container">
        <h2 class="brands__heading">
            Бренды
        </h2>
        <div class="brands__items">
            <div class="brands__item">
                <img src="/images/main/brands/abat.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/images/main/brands/apach.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/images/main/brands/atesy.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/images/main/brands/brema.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/images/main/brands/cas.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/images/main/brands/cool.jpg" alt="" class="brands__img">
            </div>
            
            <div class="brands__item">
                <img src="/images/main/brands/viatto.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/images/main/brands/mxm.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/images/main/brands/sirman.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/images/main/brands/fimar.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/images/main/brands/castrorag.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/images/main/brands/unox.jpg" alt="" class="brands__img">
            </div>

            <div class="brands__item">
                <img src="/images/main/brands/hicold.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/images/main/brands/rational.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/images/main/brands/robot-coupe.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/images/main/brands/gemlux.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/images/main/brands/kocateq.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/images/main/brands/simonelli.jpg" alt="" class="brands__img">
            </div>
            
            <div class="brands__item">
                <img src="/images/main/brands/polus.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/images/main/brands/snej.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/images/main/brands/polair.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/images/main/brands/gabino.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/images/main/brands/gam.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/images/main/brands/gastrolux.jpg" alt="" class="brands__img">
            </div>

        </div>

    </div>
</section>
