<section class="first-screen">
  <div class="container">
    <div class="first-screen__inner">
      <img
        src="images/main/first-screen/main-photo.jpg"
        alt=""
        class="first-screen__bg"
      />
      <div class="first-screen__title-wrp">
        <h1 class="first-screen__title">
          Оборудование для бизнеса<br>по ценам завода
        </h1>
      </div>
    </div>
  </div>
</section>
