// X-Small devices (portrait phones, less than 576px)
.brands {
  padding-top: 50px;
  padding-bottom: 40px;

  &__heading {
    margin-bottom: 24px;
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: -20px;
  }

  &__item {
    flex: 1 1 22%;
    margin: 20px;

    img {
      width: 100%;
    }
  }
}

// /* Large devices (desktops, 992px and up) */
@media (width >= 992px) {
  .brands {
    padding-bottom: 70px;

    &__heading {
      text-align: left;
    }

    &__items {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin: 0 -40px -25px;
    }

    &__item {
      flex: 1 1 10%;
      margin: 0 40px 25px;

      img {
        width: 100%;
      }
    }
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (width >= 1400px) {
  .brands {
    padding-top: 80px;

    &__heading {
      font-size: 50px;
    }
  }
}
