.base-field {
  --base-field-border-color: grey;
  --base-field-active-color: var(--primary-color);
  --base-field-background-color: var(--background-color);
  --base-field-disabled-color: #e0e0e0;
  --base-field-placeholder-color: grey;
  --base-field-error-color: var(--accent-color);
  --base-field-success-color: var(--positive-color);
  --base-field-font-color: var(--text-color);

  position: relative;
  display: flex;
  margin-bottom: 8px;
  color: var(--base-field-font-color);

  input {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    padding: 14px 20px;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    background-color: var(--base-field-background-color);
    border: 1px solid var(--base-field-border-color);
    border-radius: 8px;
    outline: none;
    transition: border-color 0.5s;

    &:hover,
    &:focus,
    &:active {
      border-color: var(--base-field-active-color);
    }

    &:disabled {
      border-color: var(--base-field-disabled-color);
      cursor: not-allowed;
    }

    &:read-only {
      cursor: not-allowed;
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 18px;
    display: block;
    box-sizing: border-box;
    padding: 0 5px;
    color: var(--base-field-placeholder-color);
    background-color: var(--base-field-background-color);
    border-radius: 4px;
    transform: translateY(-50%);
    transform-origin: left center;
    transition: 0.3s all;
    pointer-events: none;
  }

  input:focus ~ &__label,
  input:not(:placeholder-shown) ~ &__label {
    --base-field-placeholder-color: var(--base-field-font-color);

    top: 0;
    transform: translateY(-50%) scale(0.8);
  }

  &_state {
    &_success {
      --base-field-font-color: var(--base-field-success-color);
      --base-field-border-color: var(--base-field-success-color);
    }

    &_invalid {
      --base-field-font-color: var(--base-field-error-color);
      --base-field-border-color: var(--base-field-error-color);
    }
  }

  &[data-message] {
    margin-bottom: 30px;

    &::after {
      position: absolute;
      top: calc(100% + 4px);
      left: 6px;
      color: var(--base-field-font-color);
      font-size: 12px;
      white-space: nowrap;
      content: attr(data-message);
    }
  }
}
